<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="basket" class="com.spring.example.list.FruitBasket">
		<property name="name" value="Anshu's basket" />
		<property name="basket">
			<list>
				<value>apple</value>
				<value>mango</value>
				<value>banana</value>
			</list>
		</property>
	</bean>
</beans>
